body {
	margin: 1em;
}
table {
	border-spacing:  0 0.5em;
	border-collapse: separate;
	width: 100%;
}

thead {
	background-color: #eaa;
	cursor: pointer;
}
thead th {
	padding: 1em 0;
}

td {
	  padding: 0.5em 1em;
}

.separator {
	border-left: 1px grey solid;
	padding: 0.3em 0;
}

.name{
	font-weight: bold;
}
.scriptid {
	font-family: mono;
	padding: 0.2em 0;
}
